<!doctype html>
<html>
    <head>
        <title>Mustafa halezeroğlu</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mustafa HALEZEROĞLU</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Özgeçmiş</a></h2>
            <p>Merhaba…

Ben Mustafa Halezeroğlu…

Trabzon'un Araklı ilçesinde polis memuru baba ile ev hanımı annenin ilk çocuğu olarak dünyaya geldim. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde, Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>
